.title {
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

p {
  font-size: 18px;
  color: black;
}

.disclaimer {
  font-family: Verdana;
  font-size: 12px;
  color: grey;
}
