.title {
  font-family: Verdana;
  font-size: 50px;
  color: black;
  margin: 10px 100px 20px 10px;
}

p {
  font-size: 18px;
  color: black;
}

.disclaimer {
  font-family: Verdana;
  font-size: 12px;
  color: grey;
}
