/* Text + Background */

body {
  background-image: linear-gradient(#090A0A, #6076bf);
}

.title {
  font-family: "Geist Mono", serif;
  font-weight: 400;
  font-size: 64px;
  color: white;
  text-shadow: 4px 4px rgb(35, 82, 184);
}

.subtitle {
  font-family: "Geist Mono", serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
}

p {
  font-size: 18px;
  color: white;
}

.information {
  font-family: "Geist Mono", serif;
  font-size: 16px;
  font-weight: 600;
  color: white;

  background-color: #4a618b;
  border-radius: 15px;
}

.disclaimer {
  font-family: Verdana;
  font-size: 12px;
  color: grey;
}

.andrew {
  color: #ffd769;
  font-size: 10px;
  font-family: Arial;
  text-decoration-line: underline;
}

/* Grid */

.title {
  grid-area: header;
}

.subtitle {
  grid-area: subtitle;
}

.information{
  grid-area: info;
}

.disclaimer{
  grid-area: footer;
}

.dashboard{
  grid-area: dashboard
}

/* Entire Website Grid */

.container { 
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.25fr 3fr 0.25fr;
  grid-template-areas: 
  "header header header"
  "subtitle subtitle subtitle"
  "dashboard dashboard dashboard"
  "footer footer footer"
  ;
}

/* Dashboard Grid */

.dashboard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3 , 1fr);
  grid-template-areas:
  "info info info"
  "info info info"
  "info info info"  
  ;
}
